.group-246 {
  background-color: #d9d9d9;
  border: 1px solid;
  border-color: #94a91b;
  border-radius: 2px;
  height: 17px;
  position: relative;
  top: 10px;
  width: 17px;
}

.group-246 .rectangle-2 {
  background-color: #94a91b;
  border-radius: 2px;
  height: 11px;
  left: 2px;
  position: relative;
  top: 2px;
  width: 11px;
}

.group-246.property-1-0-default {
  left: 10px;
}

.group-246.property-1-0-variant-2 {
  left: 37px;
}
