.group {
  height: 239px;
  position: relative;
  top: 20px;
  width: 241px;
}

.group .overlap-group-wrapper {
  height: 58px;
  left: 184px;
  position: relative;
  width: 57px;
}

.group .overlap-group {
  height: 58px;
  position: relative;
}

.group .rectangle {
  background-color: #ffffff;
  border-radius: 8px;
  height: 57px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(-90deg);
  width: 58px;
}

.group .img {
  height: 45px;
  left: 4px;
  position: absolute;
  top: 7px;
  width: 50px;
}

.group .div {
  height: 58px;
  left: 184px;
  position: absolute;
  top: 0;
  width: 57px;
}

.group .group-wrapper {
  background-color: #ffffff;
  border-radius: 5px;
  height: 173px;
  left: 0;
  position: absolute;
  top: 66px;
  width: 241px;
}

.group .div-2 {
  height: 128px;
  left: 14px;
  position: relative;
  top: 22px;
  width: 214px;
}

.group .div-3 {
  height: 17px;
  left: 0;
  position: absolute;
  top: 0;
  width: 105px;
}

.group .text-wrapper {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 33px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
}

.group .group-instance {
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
}

.group .div-4 {
  height: 17px;
  left: 0;
  position: absolute;
  top: 37px;
  width: 131px;
}

.group .div-5 {
  height: 17px;
  left: 0;
  position: absolute;
  top: 74px;
  width: 216px;
}

.group .div-6 {
  height: 17px;
  left: 0;
  position: absolute;
  top: 111px;
  width: 213px;
}

.group.default {
  left: 20px;
}

.group.variant-2 {
  left: 281px;
}
