.connexion {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.connexion .div-8 {
  background-color: #ffffff;
  height: 763px;
  position: relative;
  width: 1440px;
}

.connexion .group-5 {
  height: 16px;
  left: 848px;
  position: fixed;
  top: 236px;
  width: 324px;
}

.connexion .group-24 {
  height: 619px;
  left: 707px;
  position: fixed;
  top: 35px;
  width: 605px;
}

.connexion .overlap-16 {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 2px 18px #0000001a;
  height: 528px;
  left: 0;
  position: absolute;
  top: 91px;
  width: 605px;
}

.connexion .group-25 {
  height: 76px;
  left: 64px;
  position: absolute;
  top: 177px;
  width: 480px;
}

.connexion .overlap-group-5 {
  background-color: #f4f4f4;
  border-radius: 10px;
  height: 50px;
  left: 0;
  position: absolute;
  top: 26px;
  width: 476px;
}

.connexion .text {
  color: #c0c0c0;
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 20px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 18px;
  white-space: nowrap;
}

.connexion .text-2 {
  color: #7e7e82;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.connexion .group-26 {
  height: 76px;
  left: 64px;
  position: absolute;
  top: 294px;
  width: 480px;
}

.connexion .p {
  color: #c0c0c0;
  font-family: "Roboto", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 22px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 18px;
  white-space: nowrap;
}

.connexion .text-3 {
  color: #7e7e82;
  font-family: "Roboto", Helvetica;
  font-size: 14px;
  font-weight: 400;
  left: 2px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.connexion .group-27 {
  height: 74px;
  left: 143px;
  position: absolute;
  top: 41px;
  width: 323px;
}

.connexion .text-4 {
  color: #94a91b;
  font-family: "Roboto", Helvetica;
  font-size: 42px;
  font-weight: 800;
  left: 4px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.connexion .text-5 {
  color: #464649;
  font-family: "Roboto", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 55px;
  white-space: nowrap;
}

.connexion .group-28 {
  display: block;
  height: 46px;
  left: 64px;
  position: absolute;
  top: 411px;
  width: 478px;
}

.connexion .overlap-17 {
  background-color: #94a91b;
  border-radius: 10px;
  height: 46px;
  position: relative;
  width: 476px;
}

.connexion .text-6 {
  color: #ffffff;
  font-family: "Roboto", Helvetica;
  font-size: 18px;
  font-weight: 700;
  left: 195px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 12px;
  white-space: nowrap;
}

.connexion .unknown {
  height: 68px;
  left: 201px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 203px;
}

.connexion .rectangle-7 {
  height: 763px;
  left: 0;
  object-fit: cover;
  position: fixed;
  top: 0;
  width: 588px;
}

.connexion .text-6 {
  color: #ff0000;
  font-family: "Roboto", Helvetica;
  font-size: 16px;
  font-weight: 600;
  left: 28px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 1px;
  white-space: nowrap;
}

.connexion .vector {
  height: 16px;
  left: 0;
  position: absolute;
  top: 0;
  width: 18px;
}
