.property-default-wrapper {
  height: 67px;
  position: relative;
  top: 20px;
  width: 74px;
}

.property-default-wrapper .group-2 {
  height: 4px;
  left: 29px;
  position: relative;
  width: 16px;
}

.property-default-wrapper .ellipse {
  background-color: #000000;
  border-radius: 2px;
  height: 4px;
  left: 0;
  position: absolute;
  top: 0;
  width: 4px;
}

.property-default-wrapper .ellipse-2 {
  background-color: #000000;
  border-radius: 2px;
  height: 4px;
  left: 6px;
  position: absolute;
  top: 0;
  width: 4px;
}

.property-default-wrapper .ellipse-3 {
  background-color: #000000;
  border-radius: 2px;
  height: 4px;
  left: 12px;
  position: absolute;
  top: 0;
  width: 4px;
}

.property-default-wrapper .group-3 {
  height: 4px;
  left: 29px;
  position: absolute;
  top: 0;
  width: 16px;
}

.property-default-wrapper .group-4 {
  height: 58px;
  left: 0;
  position: absolute;
  top: 9px;
  width: 78px;
}

.property-default-wrapper .overlap-group-2 {
  background-color: #fbffe9;
  border-radius: 2px;
  height: 58px;
  position: relative;
  width: 74px;
}

.property-default-wrapper .text-wrapper-3 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 4px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 9px;
}

.property-default-wrapper .text-wrapper-4 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 12px;
  font-weight: 400;
  left: 4px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 36px;
}

.property-default-wrapper .vector {
  height: 1px;
  left: 4px;
  object-fit: cover;
  position: absolute;
  top: 28px;
  width: 67px;
}

.property-default-wrapper.property-1-default {
  left: 20px;
}

.property-default-wrapper.property-1-variant-2 {
  left: 104px;
}
